<nav>
    <ul>
        <li>
            <a href="/branches">Branches</a>
        </li>
        <li>
            <a href="/agents">Agents</a>
        </li>
        <li>
            <a href="/clients">Clients</a>
        </li>
        <li>
            <a href="/cars">Cars</a>
        </li>
        <li>
            <a href="/deals">Deals</a>
        </li>
        <li>
            <a href="/report">Звіт</a>
        </li>
    </ul>
</nav>